{% extends layout.html %}
<body>
<div class="container">
  <div class="header"><span style="text-align: center" href="#"></span><a href="#"><img src="../static/dateclashlogo.PNG" alt="Insert Logo Here" name="Insert_logo" width="180" height="90" id="Insert_logo" style="background: #FFF; display:block;" class="fltlft" /><div class="logo_text">&quot;Best new dating site on the net!&quot;</div></a></div>
  <div class="footer">
  <div class="info_col">
    	<p>A NEW DATING SITE, WITH A TWIST!</p>
    	<p>&nbsp;</p>
    	<p>Have you tried online dating before? Your first time trying it out? We believe the &quot;perfect matches&quot; all other dating sites promote is nothing more than a glorified gimic. We believe you should personally determine what is a perfect match for you and what isn't, no? Online video/web-cam dating is the way! See someone you like? Want to see what they are actually like before you meetup in person? Pictures can be very decieving. Invite them to a Date-Clash video date! If it goes well, you can set up a real date in person! You can be a man seeking a woman, woman seeking a man or seeking the same sex! Date Clash will put you in your prefered category also based around your zip code location so meeting up is easier than ever!</p>
    </div>
	<div class="login_col">
    	<p>Start meeting people now! + Sign up here for a free 30 day trial with Date Clash!</p>
    	<p>Just fill out a few questions first.</p>
    	<p>Name: </p>
    	<p>Email:</p>
    	<p>Confirm Email:</p>
   	  <p>Zip-code:</p>
    	<p>Password:</p>
    	<p>Choose one:</p>
    	<p>&nbsp;</p>
    	<p>&nbsp;</p>
	</div>
  <!-- end .content --></div>
  <div class="footer">
    <p>footer</p>
    <!-- end .footer --></div>
  <!-- end .container --></div>
</body>
