{% extends "layout.html" %}
{% block body %}
<body>
<div class="container">
  <div class="header"><span style="text-align: center" href="#"></span><img src="../static/dateclashlogo.PNG" alt="Insert Logo Here" name="Insert_logo" width="180" height="90" id="Insert_logo" style="background: #FFF; display:block;" class="fltlft" /><div class="logo_text">&quot;Best new dating site on the net!&quot;</div></div>
  <div class="footer">
  <div class="info_col">
    	<p>A NEW DATING SITE, WITH A TWIST!</p>
    	<p>&nbsp;</p>
    	<p>Have you tried online dating before? Your first time trying it out? We believe the &quot;perfect matches&quot; all other dating sites promote is nothing more than a glorified gimmick. We believe you should personally determine what is a perfect match for you and what isn't, no? Online video/web-cam dating is the way! See someone you like? Want to see what they are actually like before you meet up in person? Pictures can be very deceiving. Invite them to a Date-Clash video date! If it goes well, you can set up a real date in person! You can be a man seeking a woman, woman seeking a man or seeking the same sex! Date Clash will put you in your preferred category also based around your zip code location so meeting up is easier than ever!</p>
    </div>
	<div class="login_col">
    	<p>Start meeting people now! + Sign up here for a free 30 day trial with Date Clash!</p>
    	<p>Just fill out a few questions first.</p>
    	<form action="register.html" method="POST">
	<p>Name:  <input type="text" size="20" name="name" style="float: right; margin-right: 100px;"></input></p>
    	<p>Email:  <input type="text" size="20" name="email1" style="float: right; margin-right: 100px;"></input></p>
    	<p>Confirm Email:  <input type="text" size="20" name="email2" style="float: right; margin-right: 100px;"></input></p>
   	  <p>Zip-code:  <input type="text" size="20" name="zipcode" style="float: right; margin-right: 100px;"></input></p>
    	<p>Password:  <input type="text" size="20" name="password" style="float: right; margin-right: 100px;"></input></p>
	</div>
  <!-- end .content --></div>
  <div class="footer">
  	<a href="http://www.facebook.com"><img src="../static/facebooklogo.png"
  	align="right" width="50px"></a>
  	<a href="http://www.twitter.com"><img src="../static/twitterlogo.png"
  	align="right" width="50px"></a>
  	<a href="http://plus.google.com"><img src="../static/googlepluslogo.png"
  	align="right" width="50px"></a>
    <p></p>
    <!-- end .footer --></div>
  <!-- end .container --></div>
</body>
{% endblock %}
